@font-face {
	font-family: 'Flower';
	src: url('./Flower.ttf');
}
@font-face {
	font-family: 'Royal';
	src: url('./RoyalJelly.ttf');
}
@font-face {
	font-family: 'Fairytale';
	src: url('./Faiytale.ttf');
}
@font-face {
	font-family: 'Jungle';
	src: url('./Jungle.ttf');
}
@font-face {
	font-family: 'Wood';
	src: url('./Wood.ttf');
}
@font-face {
	font-family: 'Scary';
	src: url('./Scary.ttf');
}
@font-face {
	font-family: 'Spooky';
	src: url('./Spooky.ttf');
}
@font-face {
	font-family: 'Computo';
	src: url('./Computo.ttf');
}
