@font-face {
	font-family: 'Flower';
	src: url('./Flower.ttf');
}
@font-face {
	font-family: 'Royal';
	src: url('./RoyalJelly.ttf');
}
@font-face {
	font-family: 'Fairytale';
	src: url('./Faiytale.ttf');
}
